* {
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;

}

.account {
    background: rgb(34,195,134);
    background: linear-gradient(9deg, rgba(34,195,134,1) 68%, rgba(45,253,177,1) 100%);
    color: white;
    box-shadow: 1px 1px 5px black;
    font-family: 'Raleway', sans-serif;
}

.account:hover {
    box-shadow: 2px 2px 10px black;
}

.account-details-header {
    background: linear-gradient(45deg, #ee0979, #ff6a00);
    color: white;
    font-family: 'Raleway', sans-serif;
}

.account-balance {
    font-size: 2em;
    margin: 0px;
}

.account-link {
    text-decoration: none;
}

.subtitle {
    display: inline;
}

#create {
    margin-bottom: 15px;
}

.credit-transaction {
    color: green;
    font-size:24px;
}

.debit-transaction {
    color: red;
    font-size:24px;
}

.loan {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,120,0.711922268907563) 81%, rgba(0,212,255,1) 100%);
    color: white;
}

.menu-logo {
    width: 100px;
    height: 100px;
}

.welcome {
    background: linear-gradient(45deg, #5573f8cc, #2d0a66);
}

.welcome-logo {
    width: 60%;
}

.index-body {
    background-image: url(../img/pexels-maitree-rimthong-1602726.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.index-container {
    margin-top: 10%;
}

.rounded-5 {
    border-radius: 10px;
}
.incon{
    width:25%;
}
.incon-name{
width:8%;
}